@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: grey;
}
/* #nav-home:active,
#nav-projects:active,
#nav-github:active,
#nav-contact:active,
#nav-footer:active {
  background-color: #1c1c1e;
  border-radius: 30px;
  transition: 0.3s;
  color: #ffffff;
} */
canvas {
  background-color: rgba(23, 23, 23, 0);
}
html,
body {
  margin: 0;
  padding: 0;
}

/* #download-button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
} */

/* #download-button:hover::before {
  filter: blur(20px);
} */
